# Copyright (c) 2018, Marcelo Samsoniuk
# All rights reserved.
# 
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
# 
# * Redistributions of source code must retain the above copyright notice, this
#   list of conditions and the following disclaimer.
# 
# * Redistributions in binary form must reproduce the above copyright notice,
#   this list of conditions and the following disclaimer in the documentation
#   and/or other materials provided with the distribution.
# 
# * Neither the name of the copyright holder nor the names of its
#   contributors may be used to endorse or promote products derived from
#   this software without specific prior written permission.
# 
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
# FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
# SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
# CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
# OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
# OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE. 

# QMtech SDRAM/LX16 board

NET XCLK            LOC = A10 | PERIOD = 50MHz HIGH 50%;
NET XRES            LOC = T8  | PULLUP;

NET LED[3]          LOC = B12;
NET LED[2]          LOC = C11;
NET LED[1]          LOC = T9; # board led
NET LED[0]          LOC = R9; # board led
	
# QMtech expansion board -> connector -> SDRAM/LX16 board

NET UART_RXD        LOC = E16; # F22 -> J2-15 -> E15
NET UART_TXD        LOC = E15; # G22 -> J2-16 -> E16

NET DEBUG[3]        LOC = L14; # P23 -> J2-40 -> L14
NET DEBUG[2]        LOC = L16; # P24 -> J2-39 -> L16
NET DEBUG[1]        LOC = K16; # N21 -> J2-38 -> K16
NET DEBUG[0]        LOC = K15; # N22 -> J2-37 -> K15
