.project
.svproject
syn_results
archiv
impl1
.recovery
*_tcr.dir
.*.ini
*.asd
*.asdb
*.awb
*.awc
*.bak
*.bak.*
*.ccl
*.cfg
*.cmd
*.cst
*.htm
*.html
*.log
*.rva
*.rvs
*.trc
*.rvl
*.ngd
*.ngo
*.tcl
*.svf
*.vhm
*.xml
*.zip
*.vhd
*~
