BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "DEBUG[0]" SITE "37" ;
LOCATE COMP "DEBUG[1]" SITE "38" ;
LOCATE COMP "DEBUG[2]" SITE "39" ;
LOCATE COMP "DEBUG[3]" SITE "40" ;
LOCATE COMP "LED[0]" SITE "43" ;
LOCATE COMP "LED[1]" SITE "44" ;
LOCATE COMP "LED[2]" SITE "45" ;
LOCATE COMP "LED[3]" SITE "46" ;
IOBUF PORT "DEBUG[0]" IO_TYPE=LVCMOS33 DRIVE=12 ;
IOBUF PORT "DEBUG[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "DEBUG[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "DEBUG[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LED[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LED[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LED[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LED[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "UART_TXD" IO_TYPE=LVCMOS33 ;
LOCATE COMP "UART_TXD" SITE "109" ;
LOCATE COMP "UART_RXD" SITE "110" ;
IOBUF PORT "UART_RXD" IO_TYPE=LVCMOS33 ;
LOCATE COMP "XRES" SITE "19" ;
IOBUF PORT "XRES" IO_TYPE=LVCMOS33 ;
LOCATE COMP "XCLK" SITE "21" ;
IOBUF PORT "XCLK" IO_TYPE=LVCMOS33 ;

